services:
  galaxy:
    image: quay.io/bgruening/galaxy:${GALAXY_TAG}
    container_name: galaxy-prod
    privileged: true
    restart: unless-stopped
    
    ports:
      - "${HOST_PORT}:80"
      - "21:21"
      - "8800:8800"

    environment:
      - GALAXY_CONFIG_ADMIN_USERS=${ADMIN_EMAIL}
      - GALAXY_BRAND=${BRAND_NAME}
      - GALAXY_CONFIG_GALAXY_INFRASTRUCTURE_URL=http://${SERVER_IP}
      - GALAXY_CONFIG_FORCE_BETA_URLS=False
      - ENABLE_TTS_INSTALL=True
      - GALAXY_DOCKER_ENABLED=True   
      
    volumes:
      - ./data:/export
      - ./config/job_conf.xml:/etc/galaxy/job_conf.xml
      - /var/run/docker.sock:/var/run/docker.sock

    deploy:
      resources:
        limits:
          cpus: '${GALAXY_CPU_LIMIT}'
          memory: ${GALAXY_MEMORY_LIMIT}